/* Start Global Rules */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #fed530;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background-image: url(../imgs/Container.svg);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.mobile-nav {
  display: none;
}
@media (max-width: 992px) {
  .mobile-nav {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
    display: flex;
    width: 94%;
    justify-content: space-between;
  }
}

/* End Global Rules */
/* Navbar */
.landing {
  position: relative;
  height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  z-index: 0;
  filter: blur(0px);
}
@media (max-width: 1000px) {
  .landing {
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
  }
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../imgs/Shadow.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (max-width: 1000px) {
  .landing::before {
    background-position: center;
  }
}
.landing .nav {
  background-color: transparent;
  height: 74px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: lighter;
}
.landing .nav .container {
  position: relative;
}

.landing .nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.5s ease;
}
@media (max-width: 1000px) {
  .landing .nav .container {
    display: flex;
    flex-direction: column;
    background-color: #3b3934;
    width: 100%;
    position: absolute;
    top: 235px;
    z-index: 100000;
  }
  .menu_hidden {
    transform: translateX(-2000px);
  }
}
.landing .nav .container .logo {
  color: white;
  font-size: 36px;
  font-weight: bold;
}
.landing .nav .container ul {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 1000px) {
  .landing .nav .container ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    font-size: 20px;
    padding-top: 15px;
  }
  .landing .nav .container ul a {
    margin-top: 15px;
  }
  .landing .nav {
    background-color: #3b3934;
    height: 50px;
  }
  .landing .nav .container {
    position: relative;
  }
  .landing .nav .container .logo {
    display: none;
  }
}
.landing .nav .container ul a {
  padding: 10px 20px;
  align-items: center;
  display: inline-block;
  color: white;
  transition: transform 0.2s ease;
}
.landing .nav .container ul a:hover {
  transform: translateY(10%) scale(120%);
  color: var(--main-color);
  font-weight: bold;
}
.landing .nav .container .user-info,
.landing .nav .container .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}
.landing .nav .container .user-info .two a {
  color: white;
}
.landing .nav .container .user-info .two a:hover {
  color: var(--main-color);
}
@media (max-width: 1000px) {
  .landing .nav .container .user-info {
    margin: 0;
    padding-top: 0;
    flex-direction: column-reverse;
    width: 100%;
    align-items: flex-start;
  }
  .landing .nav .container .user-info .one {
    padding-top: 15px;
    font-size: 20px;
  }
  .landing .nav .container .user-info .two {
    padding-left: 0;
  }
  .landing .nav .container .user-info .two p {
    padding-top: 0;
    margin: 0;
    padding-left: 0;
  }
  .landing .nav .container .user-info .search svg {
    display: none;
  }
  .landing .nav .container .user-info .user svg {
    margin-right: 10px;
  }
}

.landing .nav .container .user p {
  padding-left: 10px;
}
.landing .nav .container .user-info .search svg {
  margin-right: 20px;
  cursor: pointer;
}
.landing .nav .container .user-info .search svg:hover {
  color: var(--main-color);
}
/*  */
/*  */
/* Content */
.landing .content {
  position: relative;
  color: white;
  height: 100vh;
}
.landing .content .right-content {
  position: absolute;
  right: 10%;
  width: 40%;
  top: 5%;
}
@media (max-width: 992px) {
  .landing .content .right-content {
    width: 80%;
    top: 60px;
    right: -10%;
    position: relative;
  }
}
.landing .content .right-content h1 {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .landing .content .right-content h1 {
    font-size: 40px;
    padding-bottom: 20px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: bolder;
  }
}
.landing .content .right-content p {
  line-height: 2;
  font-size: 18px;
  margin-top: 0;
}
.landing .content .bottom-content {
  position: absolute;
  top: 50%;
  left: 20%;
}
.landing .content .bottom-content img {
  width: 100px;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 1000px) {
  .landing .content .bottom-content img {
    display: none;
  }
}
/* Top movies */
.movies {
  margin: 170px 0px;
}
.movies .container h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}
@media (max-width: 760px) {
  .movies .container h1 {
    text-align: center;
    margin-bottom: 50px;
  }
}
.movies .container form {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movies .container form input {
  background-color: #3b3934;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
  padding: 10px 10px;
  width: 40%;
  border: none;
  border-radius: 6px;
}
.movies .container form button {
  background-color: #3b3934;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  margin-left: 30px;
  cursor: pointer;
}
.movies .container form button:hover {
  background-color: #1d1c1a;
}
@media (max-width: 1000px) {
  .movies .container form {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
  }
  .movies .container form input {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 10px;
    width: 50%;
  }
  .movies .container form button {
    margin-left: 10px;
    cursor: pointer;
  }
}
.movies .container .boxes {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.movies .container .h2 {
  font-size: 40px;
  width: 100%;
  text-align: center;
  color: rgba(130, 130, 130, 0.763);
  margin-bottom: 100px;
  margin-top: 200px;
}
@media (max-width: 760px) {
  .movies .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 0.7fr));
    gap: 40px;
  }
  .movies .container .boxes {
    align-items: center;
    justify-content: center;
  }
}
.movies .container .boxes .box {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  color: white;
}
.movies .container .boxes .box img {
  width: 100%;
}
.movies .container .boxes .box .bottom-content {
  position: absolute;
  left: 0px;
  bottom: 0;
  transform: translateY(200px);
  width: 100%;
  background-color: #fed530;
  color: #1d1c1a;
  transition: transform 0.5s ease;
}
.movies .container .boxes .box:hover .bottom-content {
  transform: translateY(0px);
}
.movies .container .boxes .box .title {
  font-weight: bold;
  font-size: 23px;
  padding-top: 10px;
  margin: 15px;
  max-width: 70%;
}
.movies .container .boxes .box .rating {
  font-weight: bold;
  margin: 15px;
}
.movies .container .boxes .box .genre {
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  top: 20px;
  font-weight: bold;
  background-color: var(--main-color);
  color: #3b3934;
  left: 15px;
}
.movies .container .boxes .box .bookmarkinitial {
  position: absolute;
  padding: 4px 8px;
  font-size: 20px;
  border-radius: 3px;
  top: 20px;
  font-weight: bolder;
  background-color: var(--main-color);
  color: #3b3934;
  right: 15px;
  cursor: pointer;
  transition: scale 0.2s ease;
}
.movies .container .boxes .box .bookmarkinitial:hover {
  scale: 1.2;
}
.movies .container .boxes .box:hover .bookmarkinitial {
  display: block;
}
.small-circle {
  position: absolute;
  right: -10px;
  bottom: 0px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.movies .container .boxes .box:hover .small-circle {
  display: block;
}
.err {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: #1d1c1a;
  border-radius: 5px;
  padding: 5px 10px;
  transform: translateY(100px);
  transition: transform 0.5s ease;
}
.show {
  transform: translateY(0px);
}
/* Footer */
.footer {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .footer {
    display: block;
    width: 100%;
  }
}
.footer .left-side {
  flex: 0.7;
  color: white;
  background-color: #3d3d3d;
  padding: 50px 0px 50px 110px;
  padding-right: 0;
}
@media (max-width: 1000px) {
  .footer .left-side {
    flex: 1;
    width: 100%;
    padding: 20px 0px 50px 50px;
  }
}
.footer .left-side h1 {
  font-weight: lighter;
  font-size: 50px;
}
.footer .left-side p:first-of-type {
  width: 70%;
  margin: 30px 0px 40px 0px;
  margin-right: 0;
  line-height: 2;
  font-weight: lighter;
  display: inline-block;
}
.footer .left-side p:last-of-type {
  font-weight: bold;
  margin-bottom: 40px;
  margin-right: 0;
  display: inline-block;
}
.footer .left-side .emailbox {
  width: 70%;
  position: relative;
  display: flex;
}
.footer .left-side .emailbox input {
  width: 100%;
  padding: 15px 10px 15px 8px;
  background-color: #525252;
  color: white;
  border-radius: 7px;
  border: none;
  outline: none;
}
.footer .left-side .emailbox .btn {
  position: absolute;
  bottom: 5px;
  padding: 7px 14px;
  right: 5px;
  cursor: pointer;
  color: black;
  font-weight: bolder;
  border-radius: 10px;
  background-color: #fed530;
}
.footer .right-side {
  padding: 50px 110px 50px 0px;
  flex: 1;
}
@media (max-width: 1000px) {
  .footer .right-side {
    padding: 0px;
  }
}
.footer .right-side .boxes {
  color: white;
  display: flex;
  justify-content: space-around;
}
.footer .right-side .boxes .box1 h3 {
  margin-bottom: 40px;
  padding-top: 33px;
}
.footer .right-side .boxes .box1 p {
  margin-bottom: 40px;
}
.footer .right-side .bottom {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  margin-top: 90px;
  margin-left: 20px;
  justify-content: space-between;
  color: white;
  font-weight: lighter;
}
.footer .right-side .bottom .box {
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .footer .right-side .bottom {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-top: 0;
    margin-left: 0px;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: lighter;
  }
  .footer .right-side .bottom .box {
    margin-bottom: 30px;
  }
}
/* Loading */
.loader {
  margin: auto;
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid var(--main-color);
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}
.hide {
  display: none;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
